.drop {
    /* padding:10px; */
    text-align: start;
    display: flex;
    margin-top: 2.5vh;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .bid {
    
    /* justify-content: center; */
    display: flex;
    font-weight: 700;
    align-items: center;
    width: 20%;
  }
  /* .button_style {
      width: 45%;
  } */
  
  .head {
    background-color: #606070;
    color: white;
    align-content: center;
  }
  .head1 {
    background-color: white;
    color: black;
    width: 100%;
    text-align: start;
  }
  #demo-customized-button {
    border: 2px solid #2ba0c4;
    width: 200px;
    background-color: white;
    color: #2ba0c4;
    font-weight: 700;
    float: left;
    border-radius: 10px;
    border-color: #2ba0c4;
  }
  #sensitivity_button {
      background-color: #2ba0c4;
      color: white;
  }
  #add_new_button {
      background-color: #bbb;
      color: gray;
      margin-left: 40px;
  }
  #ch {
    height: 44.5vh;
  }
  .step {
    margin-top: 40px;
  }
  #wizard {
    background-color: rgb(251, 249, 249);
  }
  #setup {
    margin: 3px;
    /* padding: 20px; */
  }
  .tr {
    background-color: rgb(213, 248, 248);
  }
  .head1 {
    background-color: white;
    color: black;
    /* text-align: center; */
    align-items: center;
  }
  .tc {
    background-color: #d9d9d9;
    color: white;
  }
  
  
  .sc_container {
     margin-left: 40px;
     margin-bottom: 10px;
    }
    .toggle-switch {
      position: relative;
      width: 75px;
      display: inline-block;
      text-align: left;
      top: 8px;
    }
    .checkbox {
      display: none;
    }
    .label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
    }
    .inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }
    .inner:before,
    .inner:after {
      float: left;
      width: 50%;
      height: 36px;
      padding: 0;
      line-height: 36px;
      color: #fff;
      font-weight: bold;
      box-sizing: border-box;
    }
    .inner:before {
      content: "YES";
      padding-left: 10px;
      background-color: #060;
      color: #fff;
    }
    .inner:after {
      content: "CPG";
      padding-right: 10px;
      background-color: #2ba0c4;
      color: #fff;
      text-align: right;
    }
    .switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
      margin-left: 0;
    }
    .checkbox:checked + .label .switch {
      right: 0px;
    }
  